/* ==== Google font ==== */
/*@import url('http://fonts.googleapis.com/css?family=Lato:400,300,700,900'); */

body {
  background-color: #f2f2f2;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #555;
    line-height: 1.6em;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #444;
}

h1 {
  font-size: 40px;
}


h3 {
  font-weight: 400;
}

h4 {
  font-weight: 400;
  font-size: 20px;
}

p {
    margin-bottom: 20px;
    font-size: 16px;
}


a {
    color: #d6ee18;
    word-wrap: break-word;
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover, a:focus {
    color: #b7cb1b;
    text-decoration: none;
    outline: 0;
}

a:before, a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

.navbar-inverse .navbar-nav > li > a {

    color: #c6d550;
}

.navbar-default1 {
  background-color: #fd680e; /*#3498db */
  border-color: transparent;
  
}

.navbar-default1 .navbar-brand {
  color: white;
}

.navbar-default1 .navbar-nav > li > a {
  color: white;
}

.navbar-default1 .navbar-nav > li > a:hover, a:focus {
  background-color: #25648F;
  color: white;

}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  background-color: #808080;
}

.alignleft {
    text-align: left;
}
.alignright {
    text-align: right;
}

.aligncenter {
    text-align: center;
}

.btn-theme  {
  color: #fff;
  background-color: #fd680e;
  border-color: #fd680e;
  margin-left: -18px;
  width: 90px;
}
.btn-theme:hover  {
/*  color: #fff;
  background-color: #444;
  border-color: #444;*/
}
form.signup {
  margin-top: 30px;
}
form.signup button.btn {
  text-transform: uppercase;
  font-weight: 700;
}
form.signup input.form-control:focus {
  border-color: #fd680e;
}


/* Nav */

a.navbar-brand {
  color: #fff !important;
  font-weight: 900;
  text-transform: uppercase;
}
a.navbar-brand:hover {
    color: #ddd !important;
}


/* Header */

#header { 
  background-color: #444;
  background: url(../img/main-bg.jpg) no-repeat center top;
  margin-top: -20px;
  padding-top: 100px;
  background-attachment: relative;
  background-position: center center;
  min-height: 650px;
  width: 100%;
  
    /*-webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
}



#header h1 {
  margin-top: -20px;
  margin-bottom: 10px;
  color: #000000;
  font-size: 18px;
  font-weight: 900;
  letter-spacing: -1px;
}

h2.subtitle {
  color: #fff;
  font-size: 20px;
}

/* slide */
.carousel-indicators {
  position: absolute;
  bottom: -40px;
  left: 50%;
  z-index: 15;
  width: 60%;
  padding-left: 0;
  margin-left: -50%;
  text-align: center;
  list-style: none;
}
.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #000 \9;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 10px;
}
.carousel-indicators .active {
  width: 12px;
  height: 12px;
  margin: 0;
  background-color: #b7cb1b;
}

/* footer */
#footer {
  background: #fd680e;
  padding: 20px 0 5px;
}

p.copyright {
  color: #fff;
  text-align: center;
} 

.navbar-default {
  background-color: #3498db;
  border-color: transparent;
}

.navbar-default .navbar-brand {
  color: white;
}

.navbar-default .navbar-nav > li > a {
  color: white;
}

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*styles iclude by Dario*/
.error-message.ng-active {
  background: #8C001A;
  color: #FFF;
  border-color: #AC2925;
  padding:1px;
  border-radius:5px;
  margin-top:6px;
  position:relative;
}
.error-message.ng-active:after {
  position:absolute;
  top:-10px;
  content:"";
  left:20px;
  border-style:solid;
  border-color:transparent transparent #8C001A;
  border-width:5px;
}

.stylish-input-group .input-group-addon{
    background: linear-gradient(to bottom, #FD680E 0%, #FD680E 100%);
}
.stylish-input-group .form-control{
  border-right:0; 
  box-shadow:0 0 0; 
  border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background: transparent;
    color: #FFFFFF;
}

textarea { 
  resize:vertical; 
} 

/* Required field START*/
.required-field-block {
    position: relative;   
}

.required-field-block .required-icon {
    display: inline-block;
    vertical-align: middle;
    margin: -0.25em 0.25em 0em;
    background-color: #E8E8E8;
    border-color: #E8E8E8;
    padding: 0.5em 0.8em;
    color: rgba(0, 0, 0, 0.65);
    text-transform: uppercase;
    font-weight: normal;
    border-radius: 0.325em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: background 0.1s linear;
    -moz-transition: background 0.1s linear;
    transition: background 0.1s linear;
    font-size: 75%;
}
  
.required-field-block .required-icon {
    background-color: transparent;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 10;
    margin: 0em;
    padding: 0em;
    text-align: center;
    -webkit-transition: color 0.2s ease;
    -moz-transition: color 0.2s ease;
    transition: color 0.2s ease;
}

.required-field-block .required-icon:after {
    position: absolute;
    content: "";
    right: 4px;
    top: 2px;
    z-index: -1;
    width: 0em;
    height: 0em;
    border-left: 0em solid transparent;
    border-right-color: inherit;
    -webkit-transition: border-color 0.2s ease;
    -moz-transition: border-color 0.2s ease;
    transition: border-color 0.2s ease;
}

.required-field-block .required-icon .text {
  color: #B80000;
  font-size: 26px;
  margin: 0px 0 0 0px;
}

.required-text{
  color: #B80000;
}

/* Required combo END */

/*Start Styles buttons plus*/
.btn-plus{
width: 90px;
position: absolute;
left: 30px;
}

/*End Styles buttons plus*/

.list-group-item{
display: block;
padding: 0px 20px;
clear: both;
font-weight: normal;
line-height: 1.42857143;
color: #333;
white-space: nowrap;
}


.gridStyle {
    border: 1px solid rgb(212, 212, 212);
    height: 400px; 
}

.inboxGrid {
    border: 1px solid rgb(212, 212, 212);
    height: 400px;
}

.ngHeaderCell {
    position: absolute;
    top: 0;
    bottom: 0;
    background-color:  #027FF4;
    color: #fff;
    font-weight: bold;
 }

.ordersTable {
  position: relative;
    width:90%;
    left: 5%;

}

.orders th, .customers th {
    width:20%;
    cursor: pointer;
}

.ordersTable tr:first-child th, .customersTable tr:first-child th {
    background-color: #027FF4;
    color: #fff;
    font-weight: bold;
}

.estadoFactura {
  background-color: #00ff00;
  width: 150px;  
}

.input-group{
  position: relative;
  left: 17px;

}

.glyphicon-center{
  position: relative;
  left: 50%;
  cursor: pointer;
}

