<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <h1 class="header">Consultar Orden</h1>
        </div>
    </div>
    <hr>
    <form name="consultarOrdenForm" ng-submit="buscarOrden(consultarOrdenForm.$valid)" role="form" novalidate>
        <div class="row">
            <div class="col-md-4 form-group required-field-block">
                <label class="col-md-4 control-label">Orden</label>
                <div class="col-md-8">
                    <input type="text" ng-model="consultaOrden.Numero" ng-change="changeFields()" name="numero" placeholder="Número de Orden" class="form-control" ng-maxlength="20" numbers-only ng-pattern="/^[0-9]{1,20}$/">
                    <div class="error-message" ng-messages="consultarOrdenForm.numero.$error" ng-if="interacted(consultarOrdenForm.numero || consultarOrdenForm.numero.$pristine)">
                        <div class="error-message" ng-message="maxlength">El número es demasiado largo...</div>
                        <div class="error-message" ng-message="pattern">El parámetrto debe ser numérico</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 form-group required-field-block">
                <label class="col-md-4 control-label">Fecha inicial</label>
                <div class="col-md-7 input-group">
                    <input type="text" ng-model="consultaOrden.StartDate" name="startDate" class="form-control date-field" uib-datepicker-popup="{{format}}" is-open="openedStartDate" datepicker-options="dateOptions" date-lower-than="{{consultaOrden.EndDate | date:'DD/MM/YYYY'}}" close-text="Close" ng-readonly="consultaOrden.ReadOnly" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-disabled="consultaOrden.ReadOnly" ng-click="open($event, 'openedStartDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
                <div class="error-message" ng-messages="consultarOrdenForm.startDate.$error" gn-if="interacted(consultarOrdenForm.startDate || !consultarOrdenForm.startDate.$pristine)">
                    <div class="error-message" ng-message="required">Campo inválido o vacío</div>
                    <div class="error-message" ng-message="dateLowerThan">La fecha inicial debe ser menor que la final</div>
                </div>
            </div>
            <div class="col-md-4 form-group required-field-block">
                <label class="col-md-4 control-label">Fecha final</label>
                <div class="col-md-7 input-group">
                    <input type="text" ng-model="consultaOrden.EndDate" name="endDate" class="form-control date-field" uib-datepicker-popup="{{format}}" is-open="openedEndDate" min-date="minDate" max-date="'22/06/2016'" datepicker-options="dateOptions" date-greater-than="{{consultaOrden.StartDate | date:'yyyy-MM-dd'}}" close-text="Close" ng-readonly="consultaOrden.ReadOnly" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-disabled="consultaOrden.ReadOnly" ng-click="open($event,'openedEndDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
                <div class="error-message" ng-messages="consultarOrdenForm.endDate.$error" gn-if="interacted(consultarOrdenForm.endDate || !consultarOrdenForm.endDate.$pristine)">
                    <div class="error-message" ng-message="required">Campo inválido o vacío</div>
                    <div class="error-message" ng-message="dateGreaterThan">La fecha final debe ser mayor que la inicial</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 form-group required-field-block">
                <label class="col-md-4 control-label">Proveedor</label>
                <div class="col-md-8">
                    <input type="text" ng-model="consultaOrden.Proveedor" name="proveedor" placeholder="Proveedor" typeahead="obj.Nombre for obj in proveedores | filter:$viewValue | limitTo:10" class="form-control" typeahead-on-select="saveProveedor($item, $model, $label)" typeahead-editable="false" ng-focus typeahead-loading="Cargando" ng-readonly="consultaOrden.ReadOnly" />
                    <div class="error-message" ng-messages="consultarOrdenForm.proveedor.$error" ng-if="interacted(consultarOrdenForm.proveedor) || consultarOrdenForm.$submitted">
                    </div>
                </div>
            </div>
            <div class="col-md-4 form-group required-field-block">
                <label class="col-md-4 control-label">Usuario</label>
                <div class="col-md-8">
                    <input type="text" ng-model="consultaOrden.UserName" name="UserName" placeholder="Usuario" uib-typeahead="user.FullName for user in users | filter:$viewValue | limitTo:10" class="form-control" typeahead-on-select="saveUser($item, $model, $label)" typeahead-editable="false" ng-focus typeahead-loading="Cargando" ng-readonly="consultaOrden.NotSearchPermission||consultaOrden.ReadOnly" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <button type="button" class="btn btn-danger" ng-click="clearForm()">
                    <i class="glyphicon glyphicon-remove"></i> Cancelar
                </button>
                <button type="submit" class="btn btn-success">
                    <span class="glyphicon glyphicon-search" style="vertical-align:middle"></span> Buscar
                </button>
            </div>
        </div>
    </form>
    <hr>
    <!-- Table to show data -->
    <div class="grid">
        <!-- Binds the grid component to be displayed. -->
        <div class="gridStyle" ng-grid="gridOptions" ng-show="allData.length > 0"></div>
        <!--  Bind the pagination component to be displayed. -->
        <pagination direction-links="true" boundary-links="true" ng-show="allData.length > 0" total-items="pagingOptions.totalServerItems" items-per-page="pagingOptions.pageSize" ng-model="pagingOptions.currentPage" ng-change="refreshGrid()">
        </pagination>
    </div>
    <!-- end table-->
</div>
