<div class="container-fluid">
	<form name="consultarOrdenForm" ng-submit="submitForm(consultarOrdenForm.$valid)" role="form" novalidate>
		<div class="row">
			<div class="col-md-4 form-group required-field-block">
				<label class="col-md-4 control-label">Orden</label>
				<div class="col-md-8">
					<input type="text" ng-model="consultaOrden.Numero" ng-change="changeFields()" name="numero" placeholder="Número de Orden" class="form-control" ng-required="true" numbers-only ng-pattern="/^[0-9]{1,12}$/" >
					<!--<div class="required-icon" ng-mouseover="showMessage();">
					<div class="text">*</div>
					</div>-->
					<div class="error-message" ng-messages="consultarOrdenForm.numero.$error" ng-if="interacted(consultarOrdenForm.numero) || consultarOrdenForm.$submitted">
						<!--<div class="error-message" ng-message="required">Debe ingresar un # de Orden.</div>
						<div class="error-message" ng-message="pattern">El parámetrto debe ser numérico</div> -->
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 form-group required-field-block">
				<label class="col-md-4 control-label">Fecha inicial</label>
				<div class="col-md-7 input-group">
					<input type="text" ng-model="consultaOrden.StartDate" class="form-control date-field" datepicker-popup="{{format}}" is-open="openedStartDate" min-date="minDate" max-date="'22/06/2015'" datepicker-options="dateOptions"  ng-required="true" close-text="Close" ng-readonly="truefalse" />
					<span class="input-group-btn">
					<button type="button" class="btn btn-default" ng-disabled="truefalse" ng-click="open($event, 'openedStartDate')"><i class="glyphicon glyphicon-calendar"></i></button>
					</span>
				</div>
			</div>
			<div class="col-md-4 form-group required-field-block">
				<label class="col-md-4 control-label">Fecha final</label>
				<div class="col-md-7 input-group">
					<input type="text" ng-model="consultaOrden.EndDate" class="form-control date-field" datepicker-popup="{{format}}" is-open="openedEndDate" min-date="minDate" max-date="'22/06/2015'" datepicker-options="dateOptions"  ng-required="true" close-text="Close" ng-readonly="truefalse" />
					<span class="input-group-btn">
					<button type="button" class="btn btn-default" ng-disabled="truefalse" ng-click="open($event,'openedEndDate')"><i class="glyphicon glyphicon-calendar"></i></button>
					</span>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 form-group required-field-block">
				<label class="col-md-4 control-label">Proveedor</label>
				<div class="col-md-8">
					<input type="text" ng-model="consultaOrden.Proveedor" name="proveedor" placeholder="Proveedor" typeahead="obj.Nombre for obj in proveedores | filter:$viewValue | limitTo:10" class="form-control" 						typeahead-on-select="saveProveedor($item, $model, $label)" typeahead-editable="false" required ng-focus typeahead-loading="Cargando" ng-readonly="truefalse" />
					<!--<div class="required-icon" ng-mouseover="showMessage();">
					<div class="text">*</div>
					</div>-->
					<div class="error-message" ng-messages="consultarOrdenForm.proveedor.$error" ng-if="interacted(consultarOrdenForm.proveedor) || consultarOrdenForm.$submitted">
						<!-- <div class="error-message" ng-message="required">Debe ingresar un Proveedor.</div> -->
					</div>
				</div>
			</div>
			<div class="col-md-4 form-group required-field-block">
				<label class="col-md-4 control-label">Usuario</label>
				<div class="col-md-8">
					<select ng-model="consultaOrden.IdUsuario" name="usuario" placeholder="Usuario" class="form-control" ng-required="true" ng-readonly="truefalse">
						<option style="display:none" value="">Seleccione un Usuario</option>
						<option>Usuario-1</option>
						<option>Usuario-2</option>
					</select>
					<!--<div class="required-icon" ng-mouseover="showMessage();">
					<div class="text">*</div>
					</div>-->
					<div class="error-message" ng-messages="consultarOrdenForm.usuario.$error" ng-if="interacted(consultarOrdenForm.usuario) || consultarOrdenForm.$submitted">
						<!--<div class="error-message">Debe seleccionar un usuario.</div>-->
					</div>
				</div>
			</div>
		</div>
		<br>
		<br>
		<div class="row">
			<div class="col-md-4 col-md-offset-4">
				<button type="button" class="btn btn-danger" ng-click="clearForm()">
				<i class="glyphicon glyphicon-remove"></i>
				Cancelar
				</button>
				<button type="submit" class="btn btn-success" ng-click="buscar()">
				<span class="glyphicon glyphicon-search" style="vertical-align:middle"></span> Buscar
				</button>
			</div>
		</div>
	</form>
	<hr>
	<!-- Table to show data -->
	<div class="grid">
		
		<!-- Binds the grid component to be displayed. -->
		<div class="gridStyle" ng-grid="gridOptions" ng-show="allData.length > 0"></div>
		
		<!--  Bind the pagination component to be displayed. -->
		<pagination direction-links="true" boundary-links="true" ng-show="allData.length > 0"
		total-items="pagingOptions.totalServerItems" items-per-page="pagingOptions.pageSize"
		ng-model="pagingOptions.currentPage" ng-change="refreshGrid()">
		</pagination>
	</div>
	<!-- end table-->
</div>