<div class="container-fluid">
	<div class="row">
		<div class="col-md-3">
			<h1 class="header">{{tituloPantalla}}</h1>
		</div>		
	</div>

	<!-- Table to show data -->
	<div class="grid">
		
		<!-- Binds the grid component to be displayed. -->
		<div class="inboxGrid" ng-grid="gridOptions" ng-show="allData.length > 0"></div>
		
		<!--  Bind the pagination component to be displayed. -->
		<pagination direction-links="true" boundary-links="true" ng-show="allData.length > 0"
			total-items="pagingOptions.totalServerItems" items-per-page="pagingOptions.pageSize"
			ng-model="pagingOptions.currentPage" ng-change="refreshGrid()">
		</pagination>
	</div>
	<!-- end table-->
</div>