<div class="container">


    <div class="mt">    
     <form>

        <div class="col-md-6">
             <form class="navbar-form" role="search">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search"/>
                <div class="input-group-btn">
                  <button class="btn btn-default" type="submit">
                    <span class="sr-only">Search</span>
                    <span class="glyphicon glyphicon-search"aria-hidden="true"></span>
                  </button>
                </div>
              </div>
            </form>

          </div>
                  
          
          <div class="col-md-6 form-group">
              <label for="textbox1">Nombre</label>
              <input id="nombre" name="nombre" type="text" placeholder="Nombre" class="form-control">
          </div>
          <div class="col-md-6 form-group">
              <label for="textbox2">Código</label>
              <input id="codigo" name="codigo" type="text" placeholder="Código" class="form-control">
          </div>
        
      </form>
      <hr>
     
    </div><!-- /row -->

    
   
  </div><!-- /container -->