<div class="container-fluid">

	<div class="row">
		<div class="col-md-3">
			<h1 class="header">Orden de Compra</h1>
		</div>
         <form class="col-md-10 form-group col-md-offset-4" role="form">
             <div class="form-group col-md-4">
              <input type="text" name="buscar" ng-model="search" class="form-control" id="search" placeholder="Ingese Número de Orden" maxlength="50" />
             </div>
             <div class="form-group col-md-1">
                  <button type="submit" class="btn btn-theme" ng-click="buscar()">
                     <i class="glyphicon glyphicon-search"></i>
                     Buscar
                  </button>
              </div>    
              <div class="form-group col-md-1">
                <button type="button" class="btn btn-primary" ng-click="clearForm()" style="width: 100px;">
                <i class="glyphicon glyphicon-plus"></i>
                  Nuevo
                </button>
              </div>
              <div class="form-group col-md-1">   
               <button type="submit" class="btn btn-primary" >
		               <span class="glyphicon glyphicon-floppy-disk" style="vertical-align:middle"></span> Guardar
		           </button>  	     
		        </div>   
        </form> 
	</div>
	<hr/>
	<form name="ordenCompraForm" ng-submit="submit(ordenCompraForm.$valid)" class="form-horizontal" role="form" novalidate>
	 <fieldset>
		<div class="row">
			<div class="col-md-4 form-group">
				<label class="col-md-5 control-label" for="orden">Orden Compra</label>
				<div class="col-md-7">
					<input id="orden" ng-model="orden.Id" type="text" name="orden" placeholder="No. 1520" readonly class="form-control" >		
				</div>
			</div>

            <div class="col-md-4 form-group">
            	<label class="col-md-5 control-label" for="">Fecha</label>
            	<div class="col-md-7">
            		<input type="text" name="fecha"  ng-model="orden.FechaOrden" placeholder="20/12/2014" readonly class="form-control">            		
            	</div>
            </div>
             <div class="col-md-4 form-group required-field-block">
                  <label class="col-md-5 control-label" for="proveedor">Proveedor</label>
                    <div class="col-md-7">
                    	<input type="text" id="proveedor" name="proveedor" ng-model="orden.Proveedor" placeholder="Proveedor" typeahead="obj.Nombre for obj in proveedores | filter:$viewValue | limitTo:8" class="form-control" 
						typeahead-on-select="saveProveedor($item, $model, $label)" typeahead-editable="false" required ng-focus typeahead-loading="Cargando" />
                        
                        <div class="required-icon" ng-mouseover="showMessage();">
                          <div class="text">*</div>
                        </div>                        
                        <div class="error-message" ng-messages="ordenCompraForm.proveedor.$error" ng-if="ordenCompraForm.proveedor.$touched || ordenCompraForm.$submitted">
                          <div class="error-message" ng-message="required">Debe ingresar Proveedor</div>
                        </div>                        
                    </div>
            </div>
		</div>
		<div class="row">
			<div class="col-md-4 form-group">
				<label class="col-md-5 control-label" for="nit">NIT</label>
				<div class="col-md-7">
					<input id="nit" type="text"  name="nit" ng-model="proveedor.Nit" placeholder="565485794" readonly class="form-control">
				</div>
			</div>
			<div class="col-md-4 form-group">
				<label class="col-md-5 control-label" for="nit">Teléfono</label>
				<div class="col-md-7">
					<input id="telefono" type="text" name="telefono" ng-model="proveedor.Telefono" placeholder="2345312" readonly class="form-control">
				</div>
			</div>
			<div class="col-md-4 form-group">
				<label class="col-md-5 control-label" for="nit">Dirección</label>
				<div class="col-md-7">
					<input id="direc" type="text" name="direc" ng-model="proveedor.Direccion"  placeholder="Calle 12 # 52-45" readonly class="form-control">
				</div>
			</div>									
		</div>
		<div class="row">
			<div class="col-md-4 form-group">
				<label class="col-md-5 control-label" for="plazo">Plazo entrega</label>
				<div class="col-md-7">
					<input id="plazo" type="text" name="plazo" ng-model="proveedor.Plazo" placeholder="10 Días" readonly class="form-control">
				</div>
			</div>

		    <div class="col-md-4 form-group required-field-block">
            	<label class="col-md-5 control-label" for="">Centro Costos</label>
            	<div class="col-md-7">
					<input type="radio" name="costos" ng-model="orden.CentroCostos" value="BOVINOS" >Bovinos
					<input type="radio" name="costos" ng-model="orden.CentroCostos" value="PORCINOS">Porcinos

                    <div class="required-icon" ng-mouseover="showMessage();">
                      <div class="text">*</div>
                    </div>                        
                    <div class="error-message" ng-messages="ordenCompraForm.costos.$error" ng-if="ordenCompraForm.costos.$touched || ordenCompraForm.$submitted">
                      <div class="error-message" ng-message="required">Ingresar Centro de Costos</div>
                    </div>
            	</div>
            </div>
			<div class="col-md-4  form-group">
				<label class="col-md-5 control-label" for="nit">Fecha entrega</label>
				<div class="col-md-7">
					<input id="entrega" type="text" name="entrega" placeholder="31-12-2014" readonly class="form-control">
				</div>
			</div>
			</div>
			<div class="row">
				<div class="col-md-4 form-group">
				<label class="col-md-5 control-label">Productos</label>
				</div>            
			</div>
		</fieldset>	
	</form>
	<!-- Table to show data -->
	<div class="row">
		<div class="col-md-12">
        <div ng-include src="'views/ordenItem.html'"></div>

		<div class="panel panel-primary">
				
			</div>
		</div>
        <div class="col-md-3 form-group col-md-offset-10">
         	<label class="col-md-3 control-label" for="total">Total</label>
        </div>		
	</div>
	<!-- end table-->
    <div class="row">
        <div class="col-md-3 form-group">
            <div class="col-md-12">
                <textarea class="form-control" id="descrip" name="descrip" placeholder="Notas" rows="4" col="16"></textarea>
            </div>
        </div>

    </div> 
    <hr>           		
</div>