<table class="table table-hover table-striped table-condensed table-bordered ordersTable">
    <thead>
        <tr>
            <th>No.</th>
            <th>Producto</th>
            <th>Codigo</th>
            <th>Unidad</th>
            <th>Cantidad</th>
            <th>Precio Unitario</th>
            <th>Precio Total</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-hide="orden.OrdenItems || orden.OrdenItems.length > 0" class="error">
            <td colspan="7">
                <div class="text-center"><strong>No se econtraron ordenes</strong></div>
            </td>
        </tr>
        <tr ng-repeat="ordenItem in orden.OrdenItems" class="repeat-animation">
            <td>{{$index + 1}}.</td>

            <td>
                <input class="form-control" type="text" ng-model="ordenItem.Producto.Nombre" typeahead="producto.Nombre for producto in getProductos($viewValue) | filter:$viewValue  | limitTo:10" typeahead-loading="Cargando" typeahead-min-length="2" typeahead-wait-ms="300" typeahead-on-select="saveProducto($item, $model, $label,ordenItem)" typeahead-editable="false" required  />
            </td>           
            <td>
                {{ ordenItem.Producto.Codigo }}
            </td>
            <td>
                {{ ordenItem.Producto.Medida.Nombre }}
            </td>
            <td>
                 <input class="form-control" type="number" ng-model="ordenItem.Cantidad" required  />
            </td>
            <td>
                {{ ordenItem.Producto.Precio |  currency }}
            </td>
            <td>
                {{ ordenItem.PrecioTotal() | currency }}
            </td>
        </tr>
        <tr class="info">
            <td colspan="6">
                &nbsp;
            </td>
            <td>
                <strong>{{ orden.PrecioTotal() | currency }}</strong>
            </td>
        </tr>
    </tbody>
</table>