<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <h1 class="header">{{tituloPantalla}}</h1>
        </div>
        <form class="col-md-8 form-group col-md-offset-4" role="form">
            <div class="form-group col-md-6">
                <input type="text" name="buscar" ng-model="search" class="form-control" id="search" placeholder="Ingese Número de Orden" maxlength="50" />
            </div>
            <div class="form-group col-md-1">
                <button type="submit" class="btn btn-theme" ng-click="buscar()">
                    <i class="glyphicon glyphicon-search"></i> Buscar
                </button>
            </div>
            <div class="form-group col-md-1">
                <button type="button" class="btn btn-primary btn-plus" ng-click="clearForm()">
                    <i class="glyphicon glyphicon-plus"></i> Nuevo
                </button>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col-md-4 form-group">
            <label class="col-md-5 estadoFactura control-label" for="estado">{{estadoFactura}}</label>
            <div class="col-md-7">
                <input type="text" name="estado" ng-model="orden.Estado" readonly class="form-control" ng-show="orden.showTextBox">
            </div>
        </div>
        <div class="col-md-4 form-group" ng-show="isRequisicion">
            <label class="col-md-4 control-label" for="orden">Solicitante</label>
            <div class="col-md-7">
                <input id="orden" ng-model="orden.Solicitante" type="text" name="orden" readonly class="form-control">
            </div>
        </div>
        <div class="col-md-2 col-md-offset-0 required-text" ng-show="isRequisicion">* Campos requeridos</div>
        <div class="col-md-2 col-md-offset-4 required-text" ng-show="!isRequisicion">* Campos requeridos</div>
    </div>
    <!-- <div class="row">
        <div class="col-md-4 form-group">
            <label class="col-md-5 estadoFactura control-label" for="estado">Estado</label>
        </div>
    </div> -->
    <hr/>
    <form name="ordenForm" ng-submit="save(ordenForm.$valid)" class="form-horizontal" role="form" novalidate>
        <fieldset>
            <div class="row">
                <div class="col-md-4 form-group">
                    <label class="col-md-5 control-label" for="orden">{{tituloPantalla}}</label>
                    <div class="col-md-7">
                        <input id="orden" ng-model="orden.Id" type="text" name="orden" readonly class="form-control">
                    </div>
                </div>
                <div class="col-md-4 form-group">
                    <label class="col-md-5 control-label" for="fecha">Fecha</label>
                    <div class="col-md-7">
                        <input type="text" name="fecha" ng-model="orden.FechaOrden" readonly class="form-control">
                    </div>
                </div>
                <div class="col-md-4 form-group required-field-block">
                    <label class="col-md-5 control-label" for="proveedor">Proveedor</label>
                    <div class="col-md-7">
                        <input type="text" id="proveedor" name="proveedor" ng-model="orden.NombreProveedor" placeholder="Proveedor" uib-typeahead="obj.Nombre for obj in proveedores | filter:$viewValue | limitTo:10" class="form-control" typeahead-on-select="saveProveedor($item, $model, $label)" typeahead-editable="false" ng-required="!isRequisicion" ng-focus typeahead-loading="Cargando" />
                        <div class="required-icon">
                            <a href="#" tooltips tooltip-template="Requerido" class="text">*</a>
                        </div>
                        <div class="error-message" ng-messages="ordenForm.proveedor.$error" ng-if="interacted(ordenForm.proveedor) || ordenForm.$submitted">
                            <div class="error-message" ng-message="required">Debe ingresar Proveedor</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 form-group">
                    <label class="col-md-5 control-label" for="nit">NIT</label>
                    <div class="col-md-7">
                        <input id="nit" type="text" name="nit" ng-model="orden.Proveedor.Nit" readonly class="form-control">
                    </div>
                </div>
                <div class="col-md-4 form-group">
                    <label class="col-md-5 control-label" for="nit">Teléfono</label>
                    <div class="col-md-7">
                        <input id="telefono" type="text" name="telefono" ng-model="orden.Proveedor.Telefono" readonly class="form-control">
                    </div>
                </div>
                <div class="col-md-4 form-group">
                    <label class="col-md-5 control-label" for="nit">Dirección</label>
                    <div class="col-md-7">
                        <input id="direc" type="text" name="direc" ng-model="orden.Proveedor.Direccion" readonly class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 form-group required-field-block">
                    <label class="col-md-5 control-label" for="plazo">Plazo entrega</label>
                    <div class="col-md-7">
                        <input id="plazo" min="{{min}}" max="{{max}}" type="text" name="plazo" ng-model="orden.Plazo" ng-change="hasChangedPlazoField()" class="form-control" ng-maxlength="2" numbers-only ng-required="true" ng-pattern="/^([1-9]|[1-8][0-9]|90)$/">
                        <div class="required-icon">
                            <a href="#" tooltips tooltip-template="Requerido" class="text">*</a>
                        </div>
                        <div class="error-message" ng-messages="ordenForm.plazo.$error" ng-if="interacted(ordenForm.plazo) || ordenForm.$submitted">
                            <div class="error-message" ng-message="required">Debe ingresar un valor</div>
                            <div class="error-message" ng-message="maxlength">El valor es muy largo...</div>
                            <div class="error-message" ng-message="pattern">Plazo entre (1) y (90) días</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 form-group required-field-block">
                    <label class="col-md-5 control-label" for="">Centro Costos</label>
                    <div class="col-md-7">
                        <select ng-model="orden.CentroCostos" name="costos" placeHolder="Centro de Costo" class="form-control" ng-required="true" ng-options="centroCosto.Nombre as centroCosto.Nombre for centroCosto in centroCostos" ng-change="selectCentroCostos(orden.CentroCostos)">
                            <option style="display:none" value="">SELECCIONE</option>
                        </select>
                        <div class="required-icon">
                            <a href="#" tooltips tooltip-template="Requerido" class="text">*</a>
                        </div>
                        <div class="error-message" ng-messages="ordenForm.costos.$error" ng-if="interacted(ordenForm.costos) || ordenForm.$submitted">
                            <div class="error-message" ng-message="required">Debe ingresar un Centro de Costos</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 form-group">
                    <label class="col-md-5 control-label" for="nit">Fecha entrega</label>
                    <div class="col-md-7">
                        <input id="entrega" type="text" name="entrega" ng-model="orden.FechaEntrega" readonly class="form-control">
                    </div>
                </div>
            </div>
        </fieldset>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-primary"></div>
            </div>
        </div>
        <!-- Table to show data -->
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-8 col-md-offset-4">
                    <button type="button" class="btn btn-success" ng-click="addProducto()">
                        <i class="glyphicon glyphicon-plus"></i> Adicionar Producto
                    </button>
                    <button type="submit" class="btn btn-primary" ng-click="saveAndCloseClick=false">
                        <span class="glyphicon glyphicon-floppy-disk" style="vertical-align:middle"></span> Guardar
                    </button>
                    <button type="submit" class="btn btn-primary" ng-click="saveAndCloseClick=true">
                        <span class="glyphicon glyphicon-floppy-disk" style="vertical-align:middle"></span>Cerrar Requisición
                    </button>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-12">
                <div ng-include src="'views/ordenItem.html'"></div>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-md-3 form-group notes">
            <div class="col-md-12">
                <textarea class="form-control" ng-model="orden.Notas" id="descrip" name="descrip" placeholder="Notas" rows="4" col="16"></textarea>
            </div>
        </div>
    </div>
    <hr/>
</div>
