<div class="container-fluid">

	<div class="row">
		<div class="col-md-2">
			<h1 class="header">{{tituloPantalla}}</h1>
		</div>
         <form class="col-md-8 form-group col-md-offset-4" role="form">
             <div class="form-group col-md-6">
              <input type="text" name="buscar" ng-model="search" class="form-control" id="search" placeholder="Ingese Número de Orden" maxlength="50" />
             </div>
             <div class="form-group col-md-1">
                  <button type="submit" class="btn btn-theme" ng-click="buscar()">
                     <i class="glyphicon glyphicon-search"></i>
                     Buscar
                  </button>
              </div>    
              <div class="form-group col-md-1">
                <button type="button" class="btn btn-primary btn-plus" ng-click="clearForm()">
                <i class="glyphicon glyphicon-plus"></i>
                  Nuevo
                </button>
              </div>
              
        </form> 
	</div>
	<div class="row">		
	   <div class="col-md-2 estadoFactura">En Elaboración</div> 
	   <div class="col-md-4 form-group" ng-show="isRequisicion">
				<label class="col-md-3 control-label" for="orden">Solicitante</label>
				<div class="col-md-7">
					<input id="orden" ng-model="orden.Solicitante" type="text" name="orden"  readonly class="form-control" >		
				</div>
		</div>
       <div class="col-md-2 col-md-offset-4 required-text"  ng-show="isRequisicion">* Campos requeridos</div>
       <div class="col-md-2 col-md-offset-8 required-text"  ng-show="!isRequisicion">* Campos requeridos</div>
    </div> 
    <hr/>  
	<form name="ordenForm" ng-submit="save(ordenForm.$valid)" class="form-horizontal" role="form" novalidate>
	<fieldset>
		<div class="row">
			<div class="col-md-4 form-group">
				<label class="col-md-5 control-label" for="orden">{{tituloPantalla}}</label>
				<div class="col-md-7">
					<input id="orden" ng-model="orden.Id" type="text" name="orden"  readonly class="form-control" >		
				</div>
			</div>

            <div class="col-md-4 form-group">
            	<label class="col-md-5 control-label" for="fecha">Fecha</label>
            	<div class="col-md-7">
            		<input type="text" name="fecha"  ng-model="orden.FechaOrden" readonly class="form-control">            		
            	</div>
            </div>
             <div class="col-md-4 form-group required-field-block">
                  <label class="col-md-5 control-label" for="proveedor">Proveedor</label>
                    <div class="col-md-7">
                    	<input type="text" id="proveedor" name="proveedor" ng-model="orden.NombreProveedor" placeholder="Proveedor" typeahead="obj.Nombre for obj in proveedores | filter:$viewValue | limitTo:10" class="form-control" 
						typeahead-on-select="saveProveedor($item, $model, $label)" typeahead-editable="false" ng-required="!isRequisicion" ng-focus typeahead-loading="Cargando" />
                        
                        <div class="required-icon" ng-mouseover="showMessage();" ng-hide="isRequisicion">
                          <div class="text">*</div>
                        </div>                  
                        <div class="error-message" ng-messages="ordenForm.proveedor.$error" ng-if="interacted(ordenForm.proveedor) || ordenForm.$submitted">
                          <div class="error-message" ng-message="required">Debe ingresar Proveedor</div>
                        </div>                        
                    </div>
            </div>
		</div>
		<div class="row">
			<div class="col-md-4 form-group">
				<label class="col-md-5 control-label" for="nit">NIT</label>
				<div class="col-md-7">
					<input id="nit" type="text"  name="nit" ng-model="orden.Proveedor.Nit" readonly class="form-control">
				</div>
			</div>
			<div class="col-md-4 form-group">
				<label class="col-md-5 control-label" for="nit">Teléfono</label>
				<div class="col-md-7">
					<input id="telefono" type="text" name="telefono" ng-model="orden.Proveedor.Telefono" readonly class="form-control">
				</div>
			</div>
			<div class="col-md-4 form-group">
				<label class="col-md-5 control-label" for="nit">Dirección</label>
				<div class="col-md-7">
					<input id="direc" type="text" name="direc" ng-model="orden.Proveedor.Direccion"  readonly class="form-control">
				</div>
			</div>									
		</div>
		<div class="row">
			<div class="col-md-4 form-group">
				<label class="col-md-5 control-label" for="plazo">Plazo entrega</label>
				<div class="col-md-7">
					<input id="plazo" type="text" name="plazo" ng-model="orden.Proveedor.Plazo" readonly class="form-control">
				</div>
			</div>

		    <div class="col-md-4 form-group required-field-block">
            	<label class="col-md-5 control-label" for="">Centro Costos</label>
            	<div class="col-md-7">
					<input type="radio" name="costos" ng-model="orden.CentroCostos" value="BOVINOS" ng-required="true">Bovinos
					<input type="radio" name="costos" ng-model="orden.CentroCostos" value="PORCINOS" ng-required="true">Porcinos

                    <div class="required-icon" ng-mouseover="showMessage();">
                      <div class="text">*</div>
                    </div>                        
                    <div class="error-message" ng-messages="ordenForm.costos.$error" ng-if="interacted(ordenForm.costos) ||  ordenForm.$submitted">
                      <div class="error-message" ng-message="required">Ingresar Centro de Costos</div>
                    </div>
            	</div>
            </div>
			<div class="col-md-4  form-group">
				<label class="col-md-5 control-label" for="nit">Fecha entrega</label>
				<div class="col-md-7">
					<input id="entrega" type="text" name="entrega" readonly class="form-control">
				</div>
			</div>
		</div>			
	</fieldset>
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-primary"></div>	
		</div>
	</div>
	<!-- Table to show data -->
	<div class="row">
		<div class="col-md-12">
           	<div class="col-md-4 col-md-offset-4">
                <button type="button" class="btn btn-success" ng-click="addProducto()">
                <i class="glyphicon glyphicon-plus"></i>
                  Adicionar Producto
                </button>
                 <button type="submit" class="btn btn-primary" >
		               <span class="glyphicon glyphicon-floppy-disk" style="vertical-align:middle"></span> Guardar
		           </button> 
            </div>
		</div>        
	</div>	
	<br/>
	<div class="row">
		<div class="col-md-12">			
        	<div ng-include src="'views/ordenItem.html'"></div>		
		</div>        
	</div>
	</form>
    <div class="row">
        <div class="col-md-3 form-group">
            <div class="col-md-12">
                <textarea class="form-control" ng-model="orden.Notas" id="descrip" name="descrip" placeholder="Notas" rows="4" col="16"></textarea>
            </div>
        </div>

    </div> 
    <hr/>           		
</div>