<table class="table table-hover table-striped table-condensed table-bordered ordersTable">
    <thead>
        <tr>
            <th>No.</th>
            <th>Producto</th>
            <th>Código</th>
            <th>Cantidad</th>
            <th>Centro de Costo</th>
            <th>Equipo/Obra</th>
            <th>Núm Orden</th>
            <th>Eliminar</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-hide="salida.SalidaItems || salida.SalidaItems.length > 0" class="error">
            <td colspan="7">
                <div class="text-center"><strong>No se econtraron ordenes</strong></div>
            </td>
        </tr>
        <tr ng-repeat="salidaItem in salida.SalidaItems" class="repeat-animation">
            <td>{{$index + 1}}.</td>
            <td>
                <div class="col-md-12 form-group required-field-block">
                    <div class="col-md-10">
                        <input class="form-control" name="producto" type="text" ng-model="salidaItem.Producto.Nombre" typeahead="producto.Nombre for producto in getProductos($viewValue) | filter:$viewValue  | limitTo:10" typeahead-loading="loadingLocations" typeahead-min-length="2" typeahead-wait-ms="300" typeahead-on-select="saveProducto($item, $model, $label, salidaItem)" typeahead-editable="false" ng-required="true" />
                        <div class="required-icon" ng-mouseover="showMessage();">
                            <div class="text">*</div>
                        </div>
                        <span ng-show="loadingLocations" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
                        <div class="error-message" ng-messages="salidaForm.producto.$error" ng-if="salidaForm.$submitted">
                            <div class="error-message" ng-message="required">Debe ingresar un producto</div>
                        </div>
                    </div>
                </div>
            </td>
            <td>
                {{ salidaItem.Producto.Codigo }}
            </td>
            <td>
                <div class="col-md-12 form-group required-field-block">
                    <div class="col-md-10">
                        <input class="form-control" type="text" name="cantidad" ng-model="salidaItem.Cantidad" ng-maxlength="9" ng-required="true" numbers-only ng-pattern="/^[0-9]{1,9}$/" />
                        <div class="required-icon" ng-mouseover="showMessage();">
                            <div class="text">*</div>
                        </div>
                        <div class="error-message" ng-messages="salidaForm.cantidad.$error" ng-if="salidaForm.$submitted">
                            <div class="error-message" ng-message="maxlength">El máximo es demasiado largo...</div>
                            <div class="error-message" ng-message="required">Debe ingresar un valor</div>
                            <div class="error-message" ng-message="pattern">El valor debe ser numérico</div>
                        </div>
                    </div>
                </div>
            </td>
            <td>
                <div class="col-md-12 form-group required-field-block">
                    <div class="col-md-12">
                        <select ng-model="salidaItem.CentroCosto" name="centroCosto" placeHolder="Centro de Costo" class="form-control" ng-required="true">
                            <option style="display:none" value="">SELECCIONE</option>
                            <option>BOVINOS</option>
                            <option>PORCINOS</option>
                        </select>
                        <div class="required-icon" ng-mouseover="showMessage();">
                            <div class="text">*</div>
                        </div>
                        <div class="error-message" ng-messages="salidaForm.centroCosto.$error" ng-if="salidaForm.$submitted">
                            <div class="error-message" ng-message="required">Debe ingresar un Centro de Costo</div>
                        </div>
                    </div>
                </div>
            </td>
            <td>
                {{ salidaItem.Producto.Precio | currency }}
            </td>
            <td>
                {{ salidaItem.PrecioTotal() | currency }}
            </td>
            <!--<td>
                {{ salidaItem.Id }}
            </td>-->
            <td>
                <span class="glyphicon glyphicon-trash glyphicon-center" ng-click="removeProduct($index)"></span>
            </td>
        </tr>
        <tr class="info">
            <td colspan="6">
                &nbsp;
            </td>
            <td>
                <strong>{{ salida.PrecioTotal() | currency }}</strong>
            </td>
            <td></td>
        </tr>
    </tbody>
</table>