<table class="table table-hover table-striped table-condensed table-bordered ordersTable">
    <thead>
        <tr>
            <th>No.</th>
            <th>Producto</th>
            <th>Código</th>
            <th>Inventario</th>
            <th>Cantidad</th>
            <th>Centro de Costo</th>
            <th>Equipo-Obra</th>
            <th>Número Orden</th>
            <th>Eliminar</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-hide="salida.SalidaItems || salida.SalidaItems.length > 0" class="error">
            <td colspan="7">
                <div class="text-center"><strong>No se econtraron ordenes</strong></div>
            </td>
        </tr>
        <tr ng-repeat="salidaItem in salida.SalidaItems" class="repeat-animation">
            <td>{{$index + 1}}.</td>
            <td>
                <div class="col-md-13 form-group required-field-block">
                    <div class="col-md-12">
                        <ng-form name="productoForm">
                            <input class="form-control" name="producto" type="text" ng-model="salidaItem.Producto.Nombre" placeHolder="Producto" typeahead="producto.Nombre for producto in getProductos($viewValue) | filter:$viewValue  | limitTo:10" typeahead-loading="loadingLocations" typeahead-min-length="2" typeahead-wait-ms="300" typeahead-on-select="saveProducto($item, $model, $label, salidaItem)" typeahead-editable="true" ng-blur="noRepeatProduct()" ng-required="true" />
                            <div class="required-icon" ng-mouseover="showMessage();">
                                <div class="text">*</div>
                            </div>
                            <span ng-show="loadingLocations" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
                            <div class="error-message" ng-messages="productoForm.producto.$error" ng-if="interacted(productoForm.producto) || salidaForm.$submitted">
                                <div class="error-message" ng-message="required">Debe ingresar un producto o eligir uno diferente</div>
                            </div>
                        </ng-form>
                    </div>
                </div>
            </td>
            <td>
                {{ salidaItem.Producto.Codigo }}
            </td>
            <td>
                {{ salidaItem.Producto.CantidadInventario}}
            </td>
            <td>
                <div class="col-md-13 form-group required-field-block">
                    <div class="col-md-12">
                        <ng-form name="cantidadForm">
                            <input class="form-control" type="text" name="cantidad" ng-model="salidaItem.Cantidad" placeHolder="Cantidad" ng-maxlength="9" ng-required="true" numbers-only ng-min="1" ng-max="salidaItem.Producto.CantidadInventario" />
                            <div class="required-icon" ng-mouseover="showMessage();">
                                <div class="text">*</div>
                            </div>
                            <div class="error-message" ng-messages="cantidadForm.cantidad.$error" ng-if="interacted(cantidadForm.cantidad) || salidaForm.$submitted">
                                <div class="error-message" ng-message="maxlength">El máximo es demasiado largo...</div>
                                <div class="error-message" ng-message="required">Debe ingresar un valor o revisar el inventario</div>
                                <div class="error-message" ng-message="ngMax">No hay existencias suficientes en inventario {{salidaItem.Producto.CantidadInventario}}</div>
                                <div class="error-message" ng-message="ngMin">Cantidad debe ser mayor o igual a 1</div>
                            </div>
                        </ng-form>
                    </div>
                </div>
            </td>
            <td>
                <div class="col-md-13 form-group required-field-block">
                    <div class="col-md-12">
                        <ng-form name="centroCostosForm">
                            <select ng-model="salidaItem.IdCentroCostos" name="centroCosto" placeHolder="Centro de Costo" class="form-control" ng-required="true" ng-options="centroCosto.Id as centroCosto.Nombre for centroCosto in centroCostos" ng-change="selectCentroCostos(salidaItem.IdCentroCostos)">
                                <option style="display:none" value="">SELECCIONE</option>
                            </select>
                            <div class="required-icon" ng-mouseover="showMessage();">
                                <div class="text">*</div>
                            </div>
                            <div class="error-message" ng-messages="centroCostosForm.centroCosto.$error" ng-if="interacted(centroCostosForm.centroCosto) || salidaForm.$submitted">
                                <div class="error-message" ng-message="required">Debe ingresar un Centro de Costo</div>
                            </div>
                        </ng-form>
                    </div>
                </div>
            </td>
            <td>
                <div class="col-md-13 form-group required-field-block">
                    <div class="col-md-12">
                        <ng-form name="equipoObraForm">
                            <input type="text" ng-model="salidaItem.EquipoObra" name="equipoObra" placeholder="Equipo Obra" required class="form-control" />
                            <div class="required-icon" ng-mouseover="showMessage();">
                                <div class="text">*</div>
                            </div>
                            <div class="error-message" ng-messages="equipoObraForm.equipoObra.$error" ng-if="interacted(equipoObraForm.equipoObra) || salidaForm.$submitted">
                                <div class="error-message" ng-message="required">Debe ingresar un Equipo Obra</div>
                            </div>
                    </div>
                </div>
            </td>
            <td>
                <div class="col-md-13 form-group required-field-block">
                    <div class="col-md-12">
                        <ng-form name="ordenForm">
                            <input type="text" ng-model="salidaItem.NumeroOrden" ng-blur="getOrdenByNum(salidaItem.NumeroOrden, $index, salidaItem.Producto.Id)" name="idorden" placeholder="Número Orden" class="form-control" ng-maxlength="20" required numbers-only ng-pattern="/^[0-9]{1,20}$/">
                            <div class="required-icon" ng-mouseover="showMessage();">
                                <div class="text">*</div>
                            </div>
                            <div class="error-message" ng-messages="ordenForm.idorden.$error" ng-if="interacted(ordenForm.idorden) || salidaForm.$submitted">
                                <div class="error-message" ng-message="required">Revise Número o Producto de la orden</div>
                                <div class="error-message" ng-message="maxlength">El número es demasiado largo...</div>
                                <div class="error-message" ng-message="pattern">El valor debe ser numérico</div>
                            </div>
                        </ng-form>
                    </div>
                </div>
            </td>
            <!--<td>
                {{ salidaItem.Id }}
            </td>-->
            <td>
                <span class="glyphicon glyphicon-trash glyphicon-center" ng-click="removeProduct($index)"></span>
            </td>
        </tr>
    </tbody>
</table>
