<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <h1 class="header" id="div">Salidas</h1>
        </div>
    </div>
    <hr>
    <form name="salidaForm" ng-submit="save(salidaForm.$valid)" role="form" novalidate>
        <fieldset>
            <div class="row">
                <div class="col-md-4 form-group">
                    <label class="col-md-4 control-label" for="salida">Código</label>
                    <div class="col-md-6">
                        <input type="text" ng-model="salida.Id" name="codigo" readonly class="form-control" placeholder="Código">
                    </div>
                </div>
                <div class="col-md-4 form-group">
                    <label class="col-md-4 control-label" for="fechaEntrega">FechaEntrega</label>
                    <div class="col-md-6">
                        <input type="text" ng-model="salida.FechaEntrega" name="fechaEntrega" readonly class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 form-group required-field-block">
                    <label class="col-md-4 control-label">Solicitador</label>
                    <div class="col-md-6">
                        <input type="text" ng-model="salida.Solicitador" ng-change="salida.esSolicitador=true" name="solicitador" placeholder="Solicita" uib-typeahead="user.FullName for user in users | filter:$viewValue | limitTo:10" typeahead-on-select="saveUsers($item, $model, $label)" typeahead-editable="false" required ng-focus typeahead-loading="Cargando" class="form-control" />
                        <div class="required-icon">
                            <a href="#" tooltips tooltip-template="Requerido" class="text">*</a>
                        </div>
                        <div class="error-message" ng-messages="salidaForm.solicitador.$error" ng-if="interacted(salidaForm.solicitador) || salidaForm.$submitted">
                            <div class="error-message" ng-message="required">Debe ingresar un Solicitador</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 form-group required-field-block">
                    <label class="col-md-4 control-label">Recibidor</label>
                    <div class="col-md-6">
                        <input type="text" ng-model="salida.Recibidor" ng-change="salida.esSolicitador=false" name="recibidor" placeholder="Recibe" uib-typeahead="user.FullName for user in users | filter:$viewValue | limitTo:10" typeahead-on-select="saveUsers($item, $model, $label)" typeahead-editable="false" required ng-focus typeahead-loading="Cargando" class="form-control" />
                        <div class="required-icon">
                            <a href="#" tooltips tooltip-template="Requerido" class="text">*</a>
                        </div>
                        <div class="error-message" ng-messages="salidaForm.recibidor.$error" ng-if="interacted(salidaForm.recibidor) || salidaForm.$submitted">
                            <div class="error-message" ng-message="required">Debe ingresar un Recibidor</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-primary"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <button type="button" class="btn btn-success" ng-click="addItem()">
                        <i class="glyphicon glyphicon-plus"></i> Agregar producto
                    </button>
                    <button type="submit" class="btn btn-primary">
                        <span class="glyphicon glyphicon-floppy-disk"></span> Guardar
                    </button>
                    <button type="button" class="btn btn-danger" ng-click="clearForm()">
                        <i class="glyphicon glyphicon-remove"></i> Cancelar
                    </button>
                </div>
            </div>
        </fieldset>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <div ng-include src="'views/salidaItem.html'"></div>
            </div>
        </div>
    </form>
</div>
